@page "/members/study"

<PageTitle>Study</PageTitle>

<div class="d-flex flex-column gap-8">

  <MudText Typo="Typo.h4">Study</MudText>

  <MudPaper Class="pa-4">
    <MudText Typo="Typo.h5">Vocabulary</MudText>
    <p>select students language</p>
    <p>select language to study</p>
  </MudPaper>

  <MudPaper Class="pa-4">
    <MudText Typo="Typo.h5">Course</MudText>
    <p>List paged cards with courses</p>
  </MudPaper>

</div>

@code {

}
